.coin-app {
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
}

.coin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.coin-table th,
.coin-table td {
    border: 1px solid #d31515;
    padding: 8px;
    text-align: center;
}

.coin-table th {
    background-color: #d81f1f;
    cursor: pointer;
    /* Indicates that the header is clickable */
}

.coin-table th.sortable:hover {
    background-color: #be1717;
    /* Light background on hover */
}

.coin-table th.sorted-asc::after {
    content: '▲';
    margin-left: 5px;
}

.coin-table th.sorted-desc::after {
    content: '▼';
    margin-left: 5px;
}

.red {
    color: #f00606;
}

.green {
    color: #11d811;
}